@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --font-family: 'Open Sans', sans-serif;
  --bg-color: #0aa1dd;
  --primary-color: #e8f9fd;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
  margin-top: 20px;
}

.mensagem {
  font-size: 1.5em;
  margin-top: 40px;
}

.box {
  border: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 4em;
  padding: 10px;
  margin: 20px;
}
